<h1>New Comment</h1>
<br>

<form action="/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="comment[post_id]" value="<%= @post_id %>">

  <label for="Comment">Comment</label>
  <input id="Comment" type="text" name="comment[content]" value="<%= @comment.content %>">

  <br>

  <input type="submit" value="Add Comment">

</form>
