<h1>Sign Up!</h1>
<br>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="Username">Username</label>
  <input id="Password" type="text" name="user[username]" value="<%= @user.username %>">

  <br>

  <label for="Password">Password</label>
  <input id=Password type="text" name="user[password]">

  <br>

  <input type="submit" value="Sign Up">

</form>
