<h1>Edit Sub</h1>
<br>

<form action="/subs/<%= @sub.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="Title">Title</label>
  <input id="Title" type="text" name="sub[title]" value="<%= @sub.title %>">

  <br>

  <label for="Description">Description</label>
  <textarea id=Description type="text" name="sub[description]"><%= @sub.description %>
  </textarea

  <br>

  <input type="submit" value="Update Sub">

</form>
